// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_answer { display: none; }
.best-answer {
  font-size: 0.8em;
  color: green;
}

.answer-comments-spoiler .answer-comments {
  display: none;
}
.answer-comments-spoiler input.answers-spoiler[type=checkbox] {
  display: none;
}
.answer-comments-spoiler input.answers-spoiler[type=checkbox]:checked + .answer-comments {
  display: block;
}