// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_answer { display: none; }
.best-answer {
  font-size: 0.8em;
  color: green;
}

.answer-comments-spoiler .comments-btn {
  font-style: italic;
  font-weight: 100;
  font-size: 0.9em;
  border-bottom: 1px dotted transparent;
}
.answer-comments-spoiler .comments-btn:hover {
  border-bottom: 1px dotted #999999;
}

.answer-comments-spoiler .answer-comments {
  display: none;
}
.answer-comments-spoiler input.answers-spoiler[type=checkbox] {
  display: none;
}
.answer-comments-spoiler input.answers-spoiler[type=checkbox]:checked + .answer-comments {
  display: block;
}

.answer {
  position: relative;
  margin: 2em 0;
  border-bottom: 1px solid #DDDDDD;
}

.answer-rating {
  position: absolute;
  left: -3%;
}

.answer-rating .current_rating {
  font-size: 1.2em;
  color: #1D7F76;
}

.answer-rating .vote-links .vote-up {
  position: absolute;
  top: -50%;
  right: -10%;
  font-size: 1.3em;
}
.answer-rating .vote-links .vote-down {
  position: absolute;
  bottom: -20%;
  right: 15%;
  font-size: 1.5em;
}