// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_question { display: none; }
.ask-question { margin: 0.5em 0 0.5em 0; }
.question-title a { font-size: 1.5em }

.question {
  position: relative;
}

.question-rating {
  position: absolute;
  left: -3%;
  top: -7.5%;
  width: 30px;
  height: 100px;
}

.question-rating .current_rating {
  position: absolute;
  top: 40%;
  font-size: 1.7em;
  color: #1D7F76;
}

.question-rating .vote-links .vote-up {
  position: absolute;
  left: 0;
  top: 10%;
  font-size: 1.7em;
}

.question-rating .vote-links .vote-down {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 2em;
}

.question h2 {
  padding: 10px;
  border-bottom: 2px solid #2E2E2E;
  font-weight: bold;
  color: #2E2E2E;
}

.question .question-body {
  padding: 1em 0;
  font-size: 1.2em;
}

.question .subscribe,
.question .unsubscribe {
  color: white;
  background: #1D7F76;
  border-color: #1D7F76;
  margin-bottom: 1em;
}
.question .subscribe:hover,
.question .unsubscribe:hover {
  background: #2BBBAD;
  border-color: #2BBBAD;
}