// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search {
  padding: 8px;
  .col-lg-4 {
    float: right;
  }
  .col-md-7, .col-md-5 {
    padding: 0;
  }
}